################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/bin
/C#/obj
*.suo
/C#-Tasks/obj/Debug/netcoreapp1.1
/C#-Tasks/obj
/C#-Tasks/bin/Debug/netcoreapp1.1
